.main__card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #6279ff;
  color: #ffffff;
  width: 720px;
  height: 353px;
  background: #6279ff;
  box-shadow: 4px 4px 20px rgba(226, 226, 226, 0.59);
}

.main__card__wrapper {
  text-align: left;
}

.main__card__title {
  text-align: left;
}

.main__card__text {
  width: 538px;
  height: 155px;
}