* {
  margin: 0 auto;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
